/* style.css */
* {
  font-family: 'Varela Round', sans-serif;
 
}
@font-face {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Gugi', cursive;
  font-family: 'Nosifer', cursive;
  font-family: 'VT323', monospace;
  src: url("https://fonts.google.com/");
 
}
body {
 align-items: center;
 display: grid;
 justify-items: center;
 background-color: #ffffff; /*white background*/ /*yellow option:#e9e2cc pink option: #eee4e4 */
}

body, html {
 height: 120%; /*allows for space to scroll into short feed*/
 width: 100%;
}
body>sideBar a {
  font-family: 'Varela Round', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
sideBar {
  display:none;
  /*display:grid;*/
  justify-items: begin;
  padding-left: .2em;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  width: 5em;
  left:0vw;
}
.vert-navigation{
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  background: #b90c0c;
  position: fixed;
  width: 5.5em;
  height: 95%;
  padding-top: 0%;
  top: 5.5em; /*keeps side bar from reaching logo*/
}
header {
  justify-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  display: inline-block;
  padding-left: 7.5%;
  height: 20%;
  position: absolute;
  top: 15vh;
  margin-left: 4%;
  width: 100%;
  right:0 ;
}
body{
  justify-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
}
body>header a:hover {
  border-bottom: 2px solid transparent;
}
header>section {
  display: grid;
  max-width: 400px;
  row-gap: 2em;
  width: 100%;
}
h2 {
  font-family: 'Abril Fatface', cursive; /*issue: this does not change the font!*/
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 7vh;
  align-self: center;
}
.searchbox {  
  float: left;
}  
input[type=text] {  
  padding: 6px;  
  margin-top: 10px;  
  font-size: 17px;  
  border: none;  
 }  
searchbar {
  margin-top: 0%;
  justify-content: center;
  align-self: right;
  justify-items: center;

  display: inline-block;
  height: 10em;
  width: 10em;
  position: absolute;
  top: 1.5em;
  left: 33%;
 }
 .searchbox button {   
  padding: 8px;  
  margin-top: 10px;  
  margin-left: 10px;  
  background: red;  
  font-size: 20px;  
  border: none;  
  cursor: pointer;   
 }  
 .searchbox button:hover {  
  background: red;  
 }  
form {
  background-color: #ff141479;
  width: 33vw;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
input {
  all: unset;
  font: 16px system-ui;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
::placeholder {
  color: #fff;
  opacity: 0.7; 
    
}
.button {
  background-color: #ff0000;
  border: none;
  color: white;
  background: #b90c0c;
  width: 5em;
  height: 5em;
  text-align: center;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 8.8vh;
  box-shadow: 0 .5em .2em rgba(0, 0, 0, 0.2);
  }

.button10,.button30,.button60 {border-radius: 70%;
  font-size: 7vh;
  font-family: 'Abril Fatface', cursive;
  margin-left: .8em;
  margin-right: .8em;
}
.button:hover {
  background: #b85454;
  cursor: pointer;
 }

/*  .vert-navigation:hover{
  background: #b85454;
}*/
.button:active{
  color: red;
  cursor: pointer;
}
.top-nav{
  width: 100%;
  display:flex; 
  flex-direction: row;
}
.shuffle{
  position: absolute;
  margin-top: 3.7vh;
  margin-right: 0vw;
  margin-left: 143vw;
  padding-left: 3vw;
  top: .2em;
  background-color:none;
}
.user-portal{
  position: absolute;
  margin-right: 0vw;
  margin-left: 148vw;
  padding-left: 3em;
  top: 1em;
  background-color:none;
}
.logoImg {
 position:absolute;
 justify-items: end;
 padding-left: .2em;
 padding-right: 5em;
 top: 1.2em;
 width: 8%;
 left: 0vw;
}
.logoText {
  position:absolute;
  height: 10em;
  width: 15em;
  justify-items: begin;
  padding-left: 2.6em;
  padding-right: 8em;
  top: 0em;
  margin-top: 0%;
  padding-top: .2%;
  left: 0vw ;
  font-style: oblique;
}
h4{
  font-family: 'Abril Fatface', cursive;
  font-size: 5vh;
  text-decoration: wavy;
  color: black;
  margin-left: 8%;
  top: 0em;
  margin-top: 9%;
  padding-top: 0%;
}
h3{
  font-family: 'Abril Fatface', cursive;
  width: 8vw;
  justify-self: left;
}
 /*.slider-container{
  margin: 10vh;
  size:5em;
  padding-top: 180vh;
  width: 100%;
}
.slider{
  display: flex;
  flex-direction: column;
}
.slider {
 position: relative;
 overflow: hidden;
 display: flex;
 text-align: center;
 flex-direction: row;
 width:66vw;
 height: 40vh
 
}
/*Slider Css may use later.
.slider-button {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 1;
 padding: 0;
 margin: 0.5rem;
 border-radius: 50%;
 background-color: transparent;
 border: none;
 font-size: 1.5rem;
 cursor: pointer;
 transition: color 0.1s;
}
.slider-button:hover {
 color: rgba(0, 0, 0, 0.5);
}
.slider-button_previous{
 height:2em;
 width:2em;
 left:0;
 margin-left: auto;
 margin-right: auto;
 display:block;
}
.slider-button_next {
 right: 0;
 height:2em;
 width:2em
}
.slides {
 display: flex;
 transition: transform 0.5s;
 transform: translateX(calc(-100% * var(--current-slide)));
 padding-left: 2vw;
}*/


@media screen and (min-width: 768px) {
 .slider-button {
   font-size: 2rem;
   margin: 1rem;
 }
}

.sliderImg{
 width:11vw;
 height:21vh;
 padding-left:2.5vw;
 padding-right: 2.5vw;
}
.sliderImg:hover{
  opacity: 0.5;
}
.logoImg:hover{
  opacity: 0.8;
}
.user-portal:hover{
  opacity: 0.8;
}
.shuffle:hover{
  opacity: 0.8;
}

.allHome{
 display:flex;
 flex-direction: column;
}
.slider-heading{
  font-family: 'Abril Fatface', cursive;
  color: rgb(44, 43, 43);
  left:0vw;
  padding-bottom: 4vh;
}

/* We no longer need this portion for home page, it is needed for filtered feed.
.sort{
 display: inline-block;
 position: relative;
 padding: .3em;  
   margin-top: .2em;  
   margin-left: .2em;
   margin-right: .2em;
   margin-bottom: .2em;  
   align-self: center;
   background: rgba(156, 5, 5, 0.801);  
   font-size: 1rem;  
   color: rgb(255, 255, 255);
   border: none;  
   cursor: pointer; 
 width: 4em;
 height: 34px;
}*/
 .vert-navigation{
    font-family: 'Varela Round', sans-serif;
    font-size: 3.2vh;
    background: #b90c0c;
    position: fixed;
    width: 5.5em;
    height: 95%;
    padding-top: 0%;
    overflow-x: hidden;
    transition: 0.5s;
    top: 5.5em; /*keeps side bar from reaching logo*/
 }
 h5{
    background-color: #ff141479;
    color: white;
    padding-top: .6em;
    padding-bottom: .6em;
    font-size: medium;
    justify-content: center;
    align-self: center;
    justify-items: center;
    text-justify: center;
    bottom: 0;
 }
 @media only screen and (max-width: 200px)  {
   /*TO DO: 
   Turn off buttons, include a input box for filtered timing
   ensure no overlap
   */
.time-buttons{
  display:none;
}
}

 @media only screen and (max-width: 971px)  {
  .button10, .button30, .button60 {
    font-size: 7vh;
  }
  h2{
    font-size: 7vh;
  }
}
@media only screen and (max-width: 821px)  {
  .button10, .button30, .button60 {
    font-size: 6vh;
  }
  h2{
    font-size: 6vh;
  }
}
@media only screen and (max-width: 705px)  {
  .button10, .button30, .button60 {
    font-size: 5vh;
  }
  h2{
    font-size: 5vh;
  }
  h4{
    margin-top: 13%;
    font-size: 4vh;
  }
}
@media only screen and (max-width: 611px)  {
  .button10, .button30, .button60 {
    font-size: 4vh;
  }
  h2{
    font-size: 4vh;
  }
  h4{
    margin-top: 13%;
    font-size: 3vh;
  }
}

@media only screen and (max-width: 521px)  {
  .button10, .button30, .button60 {
    font-size: 3vh;
  }
  h2{
    font-size: 3vh;
  }
  h4{
    margin-top: 13%;
    font-size: 3vh;
  }
}
@media only screen and (max-width: 473px)  {
  .button10, .button30, .button60 {
    font-size: 5vh;
  }
  h4{
    display: none;
  }
}
@media only screen and (max-width: 445px)  {
  .button10, .button30, .button60 {
    font-size: 4.1vh;
  }
}
@media only screen and (max-width: 445px)  {
  .button10, .button30, .button60 {
    font-size: 4.1vh;
  }
  h2{
    width: 60%;
  }
}
@media only screen and (max-width: 391px)  {
  .button10, .button30, .button60 {
    font-size: 3.8vh;
  }
  .sideNav{
    font-size:1vh;

  }
}
 .hidden {
   display: none;
 }
.slider-container{
  size:5em;
}
.slider{
  display: flex;
  flex-direction: column;
}
.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  text-align: center;
  flex-direction: row;
  width:66vw
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.1s;
}
.slider-button:hover {
  color: rgba(0, 0, 0, 0.5);
}
.slider-button_previous{
  height:2em;
  width:2em;
  left:0;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.slider-button_next {
  right: 0;
  height:2em;
  width:2em
}
.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
  padding-left: 0vw;
}
.slide {
  flex: 0 0 100%;
  padding-left:2vw ;
}
@media screen and (min-width: 768px) {
 .slider-button {
   font-size: 2rem;
   margin: 1rem;
 }
}
.pho{
  width:10vw;
  height:20vh;
}
.allHome{
  display:flex;
  flex-direction: column;
}
.slider-heading{
  left:0vw;
  padding-bottom: 4vh;
}

/* Position and style the close button (top right corner) */
.vert-navigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  position: fixed;
  top: 12vh;
  left: 0vw;
  font-size: 20px ;
  cursor: pointer ;
  background-color: #111 ;
  color: white ;
  padding: 10px 15px ;
  border: none ;
}


.openbtn:hover {
  background-color: #444 ;
}
main{
  padding-top: 200vh;
  margin-left: 100vw;
  margin-right: 100vw;
  
}
.container{
  display:flex;
  flex-direction: row;
  padding-right: 10vh;
  padding-left: 25vh;
  text-align: center;
}
.slide {
  flex: 0 0 20%;
  padding: 0 0 0 ;
 }

 .background-image {
   background-image: url("images/kitchen.jpg");
   background-color: crimson;
 }