#tile {
    width: 11vw !important;
    margin-left: 1.5vw !important;
    margin-right: 1.5vw !important;
    height: 17.5vw !important;
    background-color: white;
    border-style: solid;
    border-color:rgba(223, 11, 11, 0.945);
    border-radius: 2.5vh;
    border-width: .3vh;
    display: flex;
    flex-direction: column !important;
    align-content: flex-start;
}

#row{
    display:flex;
    flex-direction: row;
    margin-top: 3vh;
}

#image{
    width: 14vh !important;
    height: 14vh !important;
    display: block !important;
    margin-left: auto !important;
    margin-top: -1.5vh !important;
    margin-right: auto !important;
}

#title{
    display: -webkit-box;
    font-size: larger;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bubblegum Sans";
    color: rgba(223, 11, 11, 0.945);
    font-style: bold;
    -webkit-text-stroke: .25px black

}

#circle {
    width: 3vw;
    height: 3vw;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background:rgba(202, 8, 8, 0.945);
    border: .25px solid black;
    text-align: center;
    margin-left: 8vw;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    color: white;
    font-size: small;
    font-style: bold;
    font-family:  "Bubblegum Sans";
    margin-top: -3.5vh;
    filter: drop-shadow();
  }

  #ingredients{
      font-size: smaller;
      text-align: center;
      margin-left: .1vw;
      margin-right: .1vw;
      height: 45px;
      overflow: hidden;
      margin-bottom: -1vh;
  }
  #rating{
    font-size: smaller;
    text-align: left;
    margin-left: .5vh;
    margin-right: .5vh;
}

#stars{
    width: 8vh;
    height: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1vh;
}