.individual-container {
  position: absolute;
  margin-top: calc(0rem);
  height: auto;
}
h2{
  font-size: 7vh;
}
.image-box {
  width: calc(60vw);
  /* left: calc(25vw); */
  /* margin-left: -15px; */
  /* height: calc(50vh);  */
  text-align: center;
  /* position: relative;
  float: top; */
  /* top: calc(3rem); */
  margin-top: calc(4rem);
  margin-left: calc(7.5vw); /* revert back to 17.5vw once we put side bar back*/
}

.image-box h1 {
  font-size: 200%;
  font-family: "Abril Fatface", cursive;
  color: rgb(58, 3, 3);
}

.image-box h2 {
  font-family: "Abril Fatface", cursive;
  color:rgb(92, 4, 4);
}

.image-box p{
  font-size: calc(1.4vmax);
}

.grid-layout {
  background-color: white;
  /**position: absolute;*/
  position: absolute;
  /*margin-top: 8px;*/
  /* margin-top: calc(1.25rem); */
  display: grid;
  height: 100%;
}

.general-layout {
  background-color: rgb(235, 103, 94);
  width: calc(15vw);
  /* box-shadow: 5px 0 5px -2px #888; */
  padding-top: calc(5vmin);
  border-style: solid;
  border-color: red;
  border-width: 5px;
  /* color: red; */
  height: max(100vh, 100%);
  text-align: center;
}

.general-layout h1 {
  text-align: center;
  font-size: calc(1.5rem);
}

.application-type {
  position: absolute;
  /* float: bottom; */
  left: calc(75.5vw);
  /* text-align: left; */
  /* top: calc(41rem);
  left: calc(79vw); */
  font-size: calc(1.25vw);
  width: calc(20vw);
  margin-top: 15vh;
  /* height: 15vw; */
}

.application-type img {
  width: 100%;
}

.essay-text {
  /* position: relative;
  float: bottom; */
  text-align: left;
  /* left: 20vw; */
  top: 0;
  font-size: calc(1.25vw);
  background-color: rgb(242, 236, 119);
  padding: 1px;
  /* color: red; */
}

.essay-text h2 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

.directions-text {
  /* position: relative;
  float: bottom; */
  text-align: left;
  /* left: 20vw; */
  top: 0;
  font-size: calc(1.25vw);
  width: calc(60vw);
  margin-left: calc(10vw);
  /* color: red; */
}

.directions-text h2 {
  text-align: center;
}

.ratings-box {
  justify-content: center;
  align-items: center;
  display: flex; 
  flex-direction: row;
}

.ratings-box > div {
  flex: auto;
  text-align: center;
}

.stars {
  width: 20%;
}
.top-nav{
  width: 100%;
  display:flex; 
  flex-direction: row;
}
.shuffle{
  position: absolute;
  justify-self: right;
  margin-top: 3.7vh;
  margin-right: 0vw;
  margin-left: 83%;
  padding-left: 3vw;
  top: .2em;
  background-color:none;
}
.user-portal{
  position: absolute;
  justify-self: end;
  margin-right: 0vw;
  margin-left: 88.5vw;
  top: 1em;
  background-color: none;
}
#user {
  padding-left: 2vw;
}
.cookbook {
  font-size: 100%;
  font-family: "Varela Round", sans-serif;
}
.logoImg {
  position:absolute;
  justify-items: end;
  padding-left: .2em;
  padding-right: 5em;
  top: 1.2em;
  width: 8%;
  left: 0vw;
 }
.logoText {
  position:absolute;
  height: 10em;
  width: 15em;
  justify-items: begin;
  padding-left: 2.6em;
  padding-right: 8em;
  top: 0em;
  margin-top: 0%;
  padding-top: 0%;
  left: 0vw ;
  font-style: oblique;
}
h4{
  font-family: 'Abril Fatface', cursive;
  font-size: 4vh;
  text-decoration: wavy;
  color: black;
  margin-left: 8%;
  top: 0em;
  margin-top: 3%;
  padding-top: 0%;
}
h3{
  font-family: "Abril Fatface", cursive;
  width: 8vw;
  justify-self: left;
}
p {
  font-family: "Abril Fatface", cursive;
}

li {
    font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
}

/* Credit to W3Schools for CSS for Snackbar Notification */
#timesUp,
#favNotif,
#unfavNotif {
visibility: hidden; /* Hidden by default. Visible on click */
min-width: 250px; /* Set a default minimum width */
margin-left: -125px; /* Divide value of min-width by 2 */
background-color:rgb(235, 103, 94);/* Black background color */
color: #fff; /* White text color */
text-align: center; /* Centered text */
border-radius: 2px; /* Rounded borders */
padding: 16px; /* Padding */
position: fixed; /* Sit on top of the screen */
z-index: 1; /* Add a z-index if needed */
left: 50%; /* Center the snackbar */
bottom: 30px; /* 30px from the bottom */
}
#timesUp.show,
#favNotif.show,
#unfavNotif.show {
visibility : visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
#user {
  padding-left: 3vw;
}
@media screen and (max-width: 843px){
  .shuffle{
    display: none;
  }
}
