/* style.css */
* {
  font-family: 'Varela Round', sans-serif;
}

@font-face {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Gugi', cursive;
  font-family: 'Nosifer', cursive;
  font-family: 'VT323', monospace;
  src: url("https://fonts.google.com/");
}

body {
  align-items: center;
  display: grid;
  justify-items: center;
  background-color: #fff; /* white background */
}

body > sideBar a {
  font-family: 'Varela Round', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

sideBar {
  display: grid;
  justify-items: begin;
  padding-left: 0.2em;
  position: fixed;
  width: 5em;
  left: 0vw;
}

.vert-navigation {
  font-family: 'Varela Round', sans-serif;
  font-size: 3.2vh;
  background: #b90c0c;
  position: absolute;
  width: calc(8.58vw);
  height: calc(100vh);
  padding-top: 0%;
  top: calc(11.6vh); /* keeps side bar from reaching logo */
  border-radius: 10px;
}

.searchbox {
  float: left;
}

header {
  justify-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  display: inline-block;
  padding-left: 7.5%;
  height: 20%;
  position: absolute;
  top: 15vh;
  margin-left: 4%;
  width: 100%;
}

body > header a:hover {
  border-bottom: 2px solid transparent;
}

header > section {
  display: grid;
  max-width: 400px;
  row-gap: 2em;
  width: 100%;
}

input[type=text] {
  padding: 6px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
}

searchbar {
  margin-top: 0%;
  justify-content: center;
  align-self: right;
  justify-items: center;
  display: inline-block;
  height: 10em;
  width: 10em;
  position: absolute;
  top: 1.5em;
  left: 33%;
}

.searchbox button {
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  background: red;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.searchbox button:hover {
  background: red;
}

form {
  background-color: #ff141479;
  width: 33vw;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type=search] {
  all: unset;
  font: 16px system-ui;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.button {
  background-color: #f00;
  border: none;
  color: white;
  background: #b90c0c;
  width: 5em;
  height: 5em;
  text-align: center;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 8.8vh;
  box-shadow: 0 0.5em 0.2em rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Abril Fatface', cursive;
}

.button:hover {
  background: #b85454;
  cursor: pointer;
}

.button:active {
  color: red;
  cursor: pointer;
}

.top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logoImg {
  position: absolute;
  justify-items: end;
  padding-left: 0.2em;
  padding-right: 5em;
  top: 1.2em;
  width: 8%;
  left: 0vw;
}

.logoText {
  position: absolute;
  height: 10em;
  width: 15em;
  justify-items: begin;
  padding-left: 2.6em;
  padding-right: 8em;
  top: -1.5em;
  margin-top: 0%;
  padding-top: 0.2%;
  left: 0vw;
  font-style: oblique;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: calc(5vh);
  text-decoration: wavy;
  color: black;
  margin-left: 8%;
  top: 0em;
  margin-top: 9%;
  padding-top: 0%;
}

.shuffle {
  position: absolute;
  justify-self: left;
  margin-top: calc(2vh);
  margin-right: 0vw;
  margin-left: 65%;
  padding-left: calc(3vw);
  top: 0.2em;
  background-color: none;
}

.user-portal {
  position: absolute;
  justify-self: left;
  margin-right: 0vw;
  margin-left: calc(88.5vw);
  padding-left: calc(3vw);
  top: 1em;
  background-color: none;
}

.logoImg:hover {
  opacity: 0.8;
}

.user-portal:hover {
  opacity: 0.8;
}

.shuffle:hover {
  opacity: 0.8;
}

.sort {
  display: inline-block;
  position: relative;
  padding: 0.3em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  align-self: center;
  background: rgba(156, 5, 5, 0.801);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  width: 4em;
}

.hidden {
  display: none;
}

div.favor-recipes {
  background-color: white;
  height: calc(18vw);
  width: calc(18vw);
  border: 3px solid #000;
  float: left;
  margin: calc(1vw);
}

recipes {
  padding-bottom: calc(2vh);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;

  row-gap: 3vh;
  column-gap: 2vw;
  max-width: 75vw;
  background-color: white; /* white background */
}

.recipe-box {
  background-color: #b90c0c;
  border: 3px solid black;
  border-radius: 10px;
}

.recipe-box > h2 {
  align-items: center;
  padding-bottom: 2vh;
}
button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1vw 10vw;
  cursor: pointer;
}
button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1vw 11vw;
  cursor: pointer;
}
button3 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1vw 10vw;
  cursor: pointer;
}

input[type='file'] {
  color: transparent;
}

div > h4 {
  position: absolute;
}

div > h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4vh;
  text-decoration: wavy;
  margin: 0;
  margin-top: calc(1vh);
}
